{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Contact Section Begin -->
    <section class="contact-details">
      <div class="container">
        <div class="contact-details__wrapper basic-flex">
          <div class="form__wrapper">
            <h3 class="form__wrapper-title">Мурожаат йўллаш </h3>
            <form method="POST" action="{% url 'contacts:contact' %}">
                {% csrf_token %}
{#              <input type="hidden" name="_token" value="gLPg3Rge9aYedtOZE7RFb3jP1xizIzKE69iCWV8N">#}
              <div class="form__top">
                <label><input type="text" name="name" required placeholder="Исм" value=""></label>
                <label><input type="email" name="email" placeholder="Электрон почта" value=""></label>
                <label><input type="text" required name="number" placeholder="Телефон рақам" value=""></label>
                <label><input type="text" name="title" placeholder="Мавзу" value=""></label>
                <textarea required class="contact-tetxarea" name="text" placeholder="Матн"></textarea>
              </div>
              <div class="form__bottom">
{#                <input type="file" name="file" id="file" class="inputfile">#}
{#                <label for="file" class="basic-flex">Файл бириктириш</label>#}
{#                <label class="basic-flex verification-code-wrapper">#}
{#                  <input type="text" placeholder="Код" required name="input_kod">#}
{#                  <input type="hidden" value="4k7Za" name="kod">#}
{#                  <span class="verification-code">4 k 7 Z a</span>#}
{#                </label>#}
                <button type="submit" class="btn send-btn">Юбориш</button>
              </div>

            </form>
          </div>
          <div class="business__card">
            <h3 class="card__title">TOSHKENT24</h3>
            <div class="card__item basic-flex">
              <span card__item-title> Электрон почта </span>
              <a class="email__link" href="mailto:info@toshkent24.uz">info@toshkent24.uz</a>
            </div>
            <div class="card__item basic-flex">
              <span card__item-title> Ижтимоий тармоқлар </span>
              <div class="card__social-items basic-flex">
                <a href="#" class="social__item"></a>
                <a href="#" class="social__item"></a>
                <a href="#" class="social__item"></a>
              </div>
            </div>
            <div class="card__item basic-flex">
              <span card__item-title> Телеграм канал</span>
              <a class="card-join-telegram basic-flex" href="https://t.me/Khojiakbar_dev">Обуна бўлиш</a>
            </div>
            <div class="card__item basic-flex">
              <span card__item-title> Мобил илова </span>
              <div class="card__apps-wrapper basic-flex">
                <a href="#"><img src="{% static 'img/googleplay-wh.png' %}" alt="GooglePlay"></a>
                <a href="#"><img src="{% static 'img/appstore-white.png' %}" alt="AppStore"></a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  <!-- Contact Section End -->
{% endblock %}