{% extends "base.html" %}
{% load static %}
{% load hitcount_tags %}
{% block content %}
    <!-- Posts Section Begin -->

    <section class="posts">
        <div class="container">
            <ul class="posts__list basic-flex">
                {% for post in last_posts %}
                    <li class="posts__item">
                        <a href="{% url "news:detail" slug=post.slug %}">
                            <img src="{{ post.img.url }}" alt="{{ post.title|truncatewords:'2' }}" class="posts__img">
                            <h2 class="posts__title">{{ post.title }}</h2>
                            <span class="posts__date">{{ post.create_at|date:'H:i / d.m.Y' }}&nbsp
                                <i class="far fa-eye"></i>&nbsp {% get_hit_count for post %}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <div class="container">
        <div class="notification basic-flex">
            <div class="notification__text basic-flex">
                <h3>Янгиликлардан биринчи бўлиб ҳабардор бўлмоқчимисиз? Ҳабарларни сизга тўғридан тўғри юборишимиз учун
                    обуна
                    бўлинг! </h3>
            </div>
            <a type="button" href="https://t.me/Khojiakbar_dev" class="notification__button btn">
                Обуна бўлиш! </a>
        </div>
    </div>
    <section class="news">
        <div class="container">
            <div class="news__wrapper basic-flex" id="latestPosts">
                <div class="column-news">
                    <h2 class="news__title">Сўнгги янгиликлар</h2>
{#                    {% for cat in category %}#}
{#                        <h2 class="news__title">{{ cat.name }}</h2>#}
{#                    {% endfor %}#}
                    <ul class="news__list basic-flex">
                        {% for post in posts %}
                            <li class="news__item">
                                <a href="{% url "news:detail" slug=post.slug %}" class="basic-flex news__link"
                                   style="color: #000;">
                                    <div class="news-image-wrapper">
                                        <img src="{{ post.img.url }}" alt="{{ post.title|truncatewords:'2' }}">
                                    </div>
                                    <div class="news-box basic-flex">
                                        <h4 class="news__title">{{ post.title }}</h4>
                                        <p class="news__description">
                                            {{ post.description|safe|truncatewords:'5' }}
                                        </p>
                                        <span class="news__date basic-flex">{{ post.create_at|date:'H:i / d.m.Y' }} &nbsp
                                        <i class="far fa-eye"></i>&nbsp {% get_hit_count for post %}</span>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
{#                    <a href="?more#latestPosts" class="btn load-more-btn"> Кўпроқ янгиликлар </a>#}
                </div>

                <div class="popular-news">
                    <div class="popular-news-wrapper">
                        <h4 class="popular-news__title">Энг оммабоп янгиликлар</h4>
                        <ul class="popular-news__list">
                            {% for post in popular_posts %}
                                <li class="popular-news__item">
                                    <a href="{% url "news:detail" slug=post.slug %}">
                                        <p class="popular-news__description">
                                            {{ post.title }}
                                        </p>
                                        <span class="popular-news__date">{{ post.create_at|date:'H:i / d.m.Y' }}&nbsp<i class="far fa-eye"></i>&nbsp {% get_hit_count for post %}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="ads-placeholder"
                         style="background-image:url(https://islommoliyasi.uz/wp-content/uploads/2020/07/555-2.jpg); background-size: cover;">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="apps-block container basic-flex">
        <div class="apps-block__image"></div>
        <div class="apps-block__content">
            <h4>Сўнгги янгиликлардан доим ҳабардор бўлинг!</h4>
            <p> TOSHKENT24 мобил иловасини ўрнатинг ва барча янгиликлар энди сизнинг чўнтагингизда!</p>
        </div>
        <div class="apps-block__links basic-flex">
            <div class="links__item">
                <a href="#"><img src="{% static 'img/googleplay.png' %}" alt="googleplay"></a>
            </div>
            <div class="links__item">
                <a href="#"><img src="{% static 'img/appstore.png' %}" alt="googleplay"></a>
            </div>
        </div>
    </div>

    <!-- Posts Section End -->
{% endblock %}

