{% load static %}
{% block footer %}
      <!-- Footer Section Begin -->
  <footer class="footer">
    <div class="container">
      <div class="footer__top basic-flex">
        <a href="/" class="footer_logo">
          <h1>TOSHKENT24</h1>
        </a>
        <div class="join-telegram-wrapper basic-flex">
          <p> Бизнинг телеграм каналимизга обуна бўлиб энг сўнгги янгиликлардан хабардор бўлинг:</p>
          <a href="https://t.me/Khojiakbar_dev" class="join-telegram">Обуна бўлиш</a>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="about-site">
          <h4>Фойдаланиш ҳуқуқлари</h4>
          <p>«TOSHKENT24.UZ» сайтида эълон қилинган материаллардан нусха кўчириш, тарқатиш ва бошқа шаклларда фойдаланиш
            фақат таҳририят ёзма розилиги билан амалга оширилиши мумкин.</p>
        </div>

        <ul class="footer-menu">
          <li class="footer-menu__item"><a href="/page/informaciya-o-sajte" class="footer-menu__link">Информация о
              сайте</a></li>
          <li class="footer-menu__item"><a href="/contact" class="footer-menu__link"> Мурожаат йўллаш </a></li>
          <li class="footer-menu__item"><a href="/page/reklama" class="footer-menu__link">Реклама</a></li>
          <li class="footer-menu__item"><a href="/page/habar-yuborish" class="footer-menu__link">Хабар юбориш</a></li>
        </ul>
        <ul class="footer-menu">
          <li class="footer-menu__item"><a href="/page/ispol-zovanie-materialov" class="footer-menu__link">Использование
              материалов</a></li>
          <li class="footer-menu__item"><a href="/page/nasha-komanda" class="footer-menu__link">Наша команда</a></li>
        </ul>

        <ul class="footer-social-links">
          <h4>Бизни кузатиб боринг</h4>
          <li><a href="https://t.me/Khojiakbar_dev"><i class="fab fa-telegram-plane"></i>Бизнинг Telegram канал</a></li>
          <li><a href="https://www.youtube.com/channel/UC3qE3XZY4VpzOEAWNxgYrzQ"><i class="fab fa-youtube"></i>Бизнинг
              Youtube канал</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- Footer Section End -->

{% endblock %}